apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  namespace: devops-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
        - name: app
          image: nexus.your-domain.com:8082/devops-demo-app:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: app-config
